.editProfile {
  display: flex;
  .avatar {
    width: 130px;
    height: 130px;
  }
  .avatarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
  }
  .fieldsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 30px;
  }
  .row_padding {
    padding-bottom: 10px;
  }
}