.cover {
  min-height: 250px;
  min-width: 150px;
  position: relative;

  .coverWave {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .contentText {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .title {
    max-width: 330px;
    z-index: 5;
    top: 30px;
    position: absolute;
  }

  .info {
    display: flex;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    bottom: 10px;

    .segmentation {
      width: 40%;

      .icons {
        display: flex;
        margin-top: 10px;
        margin-top: 10px;
        flex-wrap: wrap;

        .icon {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 5px;
          border-radius: 50%;
          border: 2px solid blue;
          background-color: white;
          margin: 0 5px 5px 0;
          cursor: pointer;

          svg {
            width: 20px !important;
          }

          &:hover {
            transform: scale(2);
            box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
          }
        }
      }
    }

    .totalCoupons {
      text-align: center;
    }
  }
}
