@value colors: "Styles/palette.css";
@value (
  pinkRed,
  paleGray,
  lightNeutral
) from colors;

.offices {
  .panel {
    .linkBtn {
      position: relative;
      display: flex;
      height: 40px;
      margin: 10px 0;

      & .link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 15px;
        font-size: 12px;
        border-radius: 20px;
        background-color: pinkRed;
        color: white;

        &:hover {
          opacity: 0.9;
        }
      }
    }

    .emptyState {
      text-align: center;
      .linkBtn {
        justify-content: center;
      }
    }
    .table {

      .row {
        &:nth-child(odd) {
          border-top: 1px solid paleGray;
          border-bottom: 1px solid paleGray;
        }

        &:hover {
          background-color: lightNeutral;
        }
      }

      .linkBtn {
        justify-content: flex-end;
      }

    }

    .rowContainer {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }

      .information {
        display: block;
        text-align: left;
      }
    }
  }
}