.profile {
  .profileContent {
    display: flex;
    flex-direction: initial;
    position: relative;

    .avatar {
      width: 130px;
      height: 130px;
    }

    .information {
      margin-left: 30px;
    }

    .menuOpts {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
    }
    .formContainer {
      margin-top: 8px;
      .row_padding {
        padding-bottom: 10px;
      }
    }
  }

  .accountOptions {
    margin-top: 10px;
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
    align-items: center;
  }
}
