.container{
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;

  .mainView {
    display: flex;
    margin-top: 15px;

    .renderContainer {
      width: 100%;
      margin-right: 10%;
      margin-left: 20px;
    }

    .leftPanel {
      margin-left: 10%;

      .card {
        padding-bottom: 10px;
        width: 350px;
      }

      .campaign {
        margin-bottom: 7px;
      }

      .emptyState {
        text-align: center;
      }
    }
  }

  .toastCoupon {
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}
