.containerCampaign{
  .panelInformation {
    padding: 20px 0;

    .right {
      .icons {
        display: flex;

        .icon {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 5px;
          border-radius: 50%;
          border: 2px solid blue;

          svg {
            width: 25px !important;
          }
        }
      }
    }
  }
}
