.containerCampaign{
  .panelInformation {
    padding: 20px 0;

    .panelSplit {
      display: flex;

      .left{
        width: 70%;
      }

      .rigth{
        text-align: center;
        width: 30%;
      }
    }
  }
}
