@value colors: "Styles/palette.css";
@value (
  neutralColorMedium
) from colors;

.campaing {
  width: 100%;
  margin: 10px;
}

.panel {
  padding: 10px;
}

.devider {
  background: neutralColorMedium;
  height: 5px;
  width: 100%;
}

.headerWithoutTitle {
  padding: 0 !important;
  height: 5px;
}