@value colors: "Styles/palette.css";
@value (
  whiteColor,
  primaryColor,
  secondaryColor,
  lightNeutral,
  darkColor
) from colors;

.container {
  height: 57px;
  width: 100%;
  background: lightNeutral;
  display: flex;
  justify-content: space-between;
}

.avatarContainer {
  width: 35px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemsContainer {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.container a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  padding-left: 1rem;
}

.dividerLogo {
  height: 90%;
  width: 0.1rem;
  background: primaryColor;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.tabs {
  i, p {
    transition: 0.2s ease;
  }

  i {
    color: darkColor;
  }
  p {
    padding-left: 0.5rem;
  }

  &:hover {
    i, p {
      color: secondaryColor;
    }
  }
}

.active {
  color: secondaryColor;

  i, p {
    color: secondaryColor;
  }
}


.userMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8.8rem;
}

.menuContainer {
  width: 100%;
  background-color: whiteColor;
  max-height: 10rem;
  overflow-y: scroll;
}

.profileContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.menuOption {
  padding: 5px 1rem;
  cursor: pointer;

  &:nth-child(even) {
    background: lightNeutral;
  }

  &:hover {
    background-color: secondaryColor;

    & p {
      color: whiteColor !important;
    }
  }
}

.optionTabs {
  margin-right: 4rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1rem;
}