.container{
  height: 57px;
  width: 100%;
  background: #fafafa;
  display: flex;
  justify-content: space-between;
}

.avatarContainer{
  width: 35px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemsContainer{
  display: flex;
  align-items: center;
}