@value colors: "Styles/palette.css";
@value (
  pinkRed,
  paleLilac,
  paleGray,
  lightNeutral
) from colors;

.container {

  .notFound {
    text-align: center;
  }

  .view {
    .header {
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
      border-radius: borderRadius;
      min-height: 200px;
      color: white;

      p {
        color: white;
      }
      .contentText {
        .linkBtn {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          height: 25px;
          margin: 10px;

          & .link {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 15px;
            font-size: 12px;
            border-radius: 20px;
            background-color: pinkRed;
            color: white;

            &:hover {
              opacity: 0.9;
            }
          }
        }

        .address {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 0 0 15px 10px;
        }

        .coupons {
          position: absolute;
          bottom: 0;
          right: 0;
          text-align: center;
          padding: 10px;
        }
      }
    }

    .header::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.4;
    }

    .panelInformation {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      background-color: #f7f7f7;
      padding: 0 10px 20px 10px;

      .left {
        width: 70%;
        text-align: left;
      }

      .right {
        width: 30%;
        text-align: right;

        .icons {
          padding-right: 15px;
        }
      }
    }

    .panel {
      .row {
        &:nth-child(odd) {
          border-top: 1px solid paleGray;
          border-bottom: 1px solid paleGray;
        }

        &:hover {
          background-color: lightNeutral;
        }
      }
    }
  }
}
